*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  
}

main{
  display: flex;
  flex-direction: column;
  height: 500%;
  
  
}

/* .section1:hover{
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
  /* animation: backgroundFadeIn 2s ease-in; 
}*/


.cont1{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; */
  width: 100vw;
  padding: 2rem;
  /* background-image: url('/src/assets/images/IMG_0646.JPG'); */
  /* background-repeat: no-repeat;
  background-size: cover;
  
   */
 height: 100vh;
}

.home-title{
  color: hsl(38, 100%, 50%);
  margin-left: 115px;
  margin-top: 100px;
  font-size: 5rem;
  text-shadow: 2px 2px 4px hsl(38, 100%, 50%);
  animation: forwards backgroundFadeIn 0.5s ease-in;
}
/* TABLET RESPONSIVENESS (max-width: 1000px) */
@media (max-width: 1000px) {
  .header {
    padding: 0.7rem 1rem;
    flex-direction: row;
    justify-content: left;
    margin-left: 0px;
    gap: 0.5rem;
    font-family: "Oswald", sans-serif;
    width: 100vw;
    
  }
  .section1{
    height: 70vh;
    width: 100vw ; /* Adjusted to fit content */
    max-width: 90%; /* Added max-width for better scaling */
    margin: 0 auto; /* Center the section */
  }
    .cont1 {
        padding: 1.5rem;
        height: 70vh;
        width: 100vw;
    }

    .home-title {
        font-size: 3.5rem;
        margin-left: 20px;
        margin-top: 80px;
        text-align: left;
    }

    .home-para {
        font-size: 1.1rem;
        /* margin: 0 auto; */
        margin-left: 50px;
        text-align: left;
        padding: 0 1rem;
    }
    .subtitle{
      font-size: 1.2rem;
      margin-left: 130px;
      margin-top: 10px;
      text-align: left;
      padding: 0 1rem;
    }

    .cta-buttons {
        flex-direction: column;
        align-items: center;
        margin: 20px auto;
    }

    .cta-btn {
        font-size: 0.9rem;
        padding: 8px 16px;
        /* margin-top: 100px; */
    }

    .section2 {
        flex-direction: column;
        padding: 1rem;
    }

    .section2>.cont2>.about-title {
        font-size: 2rem;
        margin-left: 50px;
    }

    .section2>.cont2>p {
        font-size: 1.1rem;
        padding: 0 1rem;
        width: 50vw;
        margin-left: 40px;
       
    }

    .homeimg {
        height: 70vh;
        width: 100vw;
    }

    .section3 {
        height: 70vh;
        flex-direction: column;
        padding: 1rem;
        width: 100vw;
    }

    .section3>.scroll-img {
        flex-direction: column;
    }

  }
/* MOBILE RESPONSIVENESS (max-width: 800px) */
@media (max-width: 800px) {
  .header {
    padding: 0.7rem 1rem;
    flex-direction: row;
    justify-content: left;
    margin-left: 0px;
    gap: 0rem;
    font-family: "Oswald", sans-serif;
  }

  .section1{
    margin-top: 100px;
    height: 70vh;
    width: auto; /* Adjusted to fit content */
    max-width: 95%; /* Added max-width for better scaling */
    margin: 0 auto; /* Center the section */
  }
    .cont1 {
        padding: 1rem;
        width: 100vw;
        min-height: 70vh;
        margin-top: 270px;
        
    }

    .home-title {
        margin-top: 40px;
        font-size: 2.5rem;
        margin: 20px auto; 
        text-align: left;
        
    }

    .home-para {
        font-size: 1rem;
        margin: 0 auto;
        margin-left: -100px;
        text-align: left;
        padding: 0 0.5rem;
    }
    .subtitle{
      font-size: 1rem;
      margin-left: 190px;
      margin-top: 10px;
      text-align: left;
      padding: 0 0.5rem;
    }

    .cta-buttons {
        flex-direction: column;
        align-items: center;
        margin: 15px auto;
    }

    .cta-btn {
        font-size: 0.85rem;
        padding: 8px 15px;
        width: 100%;
        text-align: center;
    }

    @keyframes alternateGlow {
        from {
            box-shadow: 0px 0px 5px 2px hsl(0, 0%, 0%);
        }
        to {
            box-shadow: 0px 0px 25px 8px hsl(38, 100%, 50%);
        }
    }

    .section2 {
        flex-direction: column;
        padding: 0.5rem;
    }

    .section2>.cont2 {
        padding: 1rem;
        /* text-align: left; */
        margin-left: -100px;
        
    }

    .section2>.cont2>.about-title {
        font-size: 1.5rem;
        margin-bottom: 15px;
        margin-left: 110px;
        text-align: center;
    }

    .section2>.cont2>p {
        font-size: 0.95rem;
        line-height: 1.5;
        padding: 0 0.5rem;
        margin-left: 100px;
        text-align: center;
    }

    .homeimg {
        height: 300px;
        width: 200px;
        padding: 0;
    }

    .cont2 {
        padding: 1rem 0.5rem;
    }

    .section3 {
        height: auto;
        min-height: 60vh;
        flex-direction: column;
        padding: 0.5rem;
    }

    .section3>.scroll-img {
        flex-direction: column;
        gap: 1rem;
    }
}

@keyframes backgroundFadeIn {
  from {
    transform: translatey(0px);
  }
  to {
    opacity: 1;
    transform: translatey(-10px);
  }
}
.home-para{
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: hsl(38, 100%, 50%);
  font-weight: bolder;
  margin-left: -200px;
  margin-top: 0px;
  margin-bottom: 45px;
  font-size: 1.5rem;
  font-family: 'oswald', sans-serif;
}

.cta-buttons{
  display: flex;
  gap: 1rem;
  margin-left: 150px;
  margin-top: 30px;
  background-color: black;
  color: white;
  width: fit-content;
  border-radius: 50px;
}
.cta-btn{
  text-decoration: none;
  color: white;
  background-color: black;
  /* border: 2px solid hsl(38, 100%, 50%); */
  padding: 10px 20px;
  border-radius: 30px;
  font-family: 'oswald', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
  animation: alternateGlow 1s infinite;

}
@keyframes alternateGlow {
 
  from {
    box-shadow: 0px 0px 10px 5px hsl(0, 0%, 0%);
    
  }
  to{
    box-shadow: 0px 0px 50px 15px hsl(38, 100%, 50%);

    
  }

} 
.cta-btn:hover{
  background-color: hsl(38, 100%, 50%);
  color: black;
  font-family: 'oswald', sans-serif;
  transform: scale(1.05);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 1);
  animation: none;
  

}

.section2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0rem;
  gap: 0rem;
}
.section2>.cont2 {
  background-color: black;
}
.section2>.cont2>.about-title{
  font-size: 2.5rem;
  color: hsl(38, 100%, 50%);
  margin-bottom: 20px;
}
.section2>.cont2>p{
  color: white;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 15px;
}
.section2>.homeimg{
  /* background-image: url('src/assets/images/IMG_0640.JPG'); */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  margin-right: 0;
  padding: 0rem;
  border-radius: 20px;
}
.cont2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0rem;
  font-family: "Oswald", sans-serif;
}

.section3{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0rem;
  gap: 0rem;
  height: 90vh;
  /* width: 100vw; */
  margin-top: 0px;
  background-color: black;

 
 
}

.section3>.scroll-img{
  display: flex;
  
  flex-direction: row;
  align-items: center;
  text-align: center;
  /* animation: imgGlow 1s infinite; */
}

/* @keyframes imgGlow {
 
  from {
    box-shadow: 0px 0px 10px hsl(0, 0%, 0%);
   
  }
  to{
    
    box-shadow: 0px 0px 50px hsl(38, 100%, 50%);
   
    
  }

}  */

/* Adjusted Layout and Responsiveness for Sections and Images */

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/* .home-title {
  font-size: 5rem;
  color: hsl(38, 100%, 50%);
  text-shadow: 2px 2px 4px hsl(38, 100%, 50%);
  margin-bottom: 1rem;
}

.home-para {
  font-size: 1.5rem;
  color: hsl(38, 100%, 50%);
  margin: 0 auto;
  max-width: 800px;
  line-height: 1.6;
} */

/* .cta-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.cta-btn {
  text-decoration: none;
  color: white;
  background-color: hsl(38, 100%, 50%);
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1rem;
  transition: transform 0.3s;
} */

.cta-btn:hover {
  transform: scale(1.1);
}

.section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  background-color: black;
}

.section2 .homeimg {
  flex: 1;
  max-width: 50%;
}

.section2 .homeimg img {
  width: 70%;
  height: 90%;
  border-radius: 10px;
}

.section2 .cont2 {
  flex: 1;
  color: white;
  text-align: left;
}

.section2 .about-title {
  font-size: 2.5rem;
  color: hsl(38, 100%, 50%);
  margin-bottom: 1rem;
}

.section2 p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: black;
}

.section3 .scroll-img {
  display: flex;
  gap: 1rem;
  /* overflow-x: auto; */
  padding: 1rem;
}

.section3 .scroll-img img {
  height: 80vh;
  border-radius: 10px;
}

/* Tablet Responsiveness */
@media (max-width: 900px) {
  .section1 {
    height: 70vh;
    width: auto; /* Adjusted to fit content */
    max-width: 90%; /* Added max-width for better scaling */
    margin: 0 auto; /* Center the section */
  }

  .home-title {
    font-size: 3.5rem;
  }

  .home-para {
    font-size: 1.2rem;
    padding: 0 1rem;
  }

  .section2 {
    flex-direction: column;
    padding: 1rem;
  }

  .section2 .img {
    max-width: 100%;
  }

  .section3 .scroll-img img {
    height: 600px;
    width: auto;
  }
}

/* Mobile Responsiveness */
@media (max-width: 600px) {
  .section1 {
    height: 60vh;
    width: auto; /* Adjusted to fit content */
    max-width: 95%; /* Added max-width for better scaling */
    margin: 0 auto; /* Center the section */
  }

  .home-title {
    font-size: 2.5rem;
  }

  .home-para {
    font-size: 1rem;
    padding: 0 0.5rem;
  }

  .cta-buttons {
    flex-direction: column;
    gap: 0.5rem;
  }

  .section2 {
    padding: 0.5rem;
  }

  .section3 .scroll-img img {
    height: 600px;
    width: auto;
  }
}

